.switch {
    display: flex;

    border-radius: 9999px;

    height: 2rem;
    width: 4rem;

    margin-bottom: 0.5rem;

    background-color: blue;
}

.switch-circle {
    border-radius: 9999px;

    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    margin: auto 0.5rem;

    background-color: red;
}

.on {
    justify-content: end;
}