:root {
    --divider-height: 1px;
}

.flip {
    display: inline-flex;
    padding: 1rem;
    position: relative;

    border-radius: 0.5rem;
    overflow: hidden;
}

.flip::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(71 85 105), rgb(15 23 42));
    border-bottom: var(--divider-height) solid rgb(148 163 184);
    transform: translateY(calc(-1 * var(--divider-height)));
}

.flip::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(100 116 139), rgb(15 23 42));
}

.flip-number {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    z-index: 1;
}