.progress-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
}