html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 32px 1fr 32px;
    grid-template-columns: 300px 1fr 300px
}

header {
    grid-column: 1 / 4
}

footer {
    grid-column: 1 / 4
}